<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="PreserveLoginUrl" value="true" />
	
		<add key="serviceSisserBaseAddress" value="http://homolog.agricultura.gov.br/sisser/servicos" />
    	<add key="serviceCorporativoBaseAddress" value="http://homolog.agricultura.gov.br/corporativo/servicos" />

    	<!--<add key="strDataBaseSISSER" value="Data Source=TITAN\SQLEXPRESS;Initial Catalog=SISSER;User ID=SISSERCoreUserDB;Password=Excelsior123!" />-->
    	<!--<add key="strDataBaseSISSER" value="Data Source=EXCRECSRV01\I4PRO_HOM;Initial Catalog=SISSER;User ID=SISSERCoreUserDB;Password=Excelsior123!" />-->
		<add key="strDataBaseSISSER" value="Data Source=EXCRECSRV01\BI;Initial Catalog=SISSER;User ID=SISSERCoreUserDB;Password=Excelsior123!"/>
 		<!--<add key="strDataBaseSISSER" value="Data Source=IPOJUCA\I4PRO_PRD;Initial Catalog=SISSER;User ID=SISSERCoreUserDB;Password=Excelsior123!" />-->
 		
 		
    	<add key="repositoryType" value="sql" />
    	<add key="serviceType" value="web" />

    	<add key="cargaSubvencaoProposta" value="false" />
    	<add key="cargaSubvencaoCancelamentoProposta" value="false" />
    	<add key="cargaSubvencaoApolice" value="false" />
    	<add key="cargaSubvencaoCancelamentoApolice" value="false" />

    	<add key="atualizarProgramaSub" value="false" />
    	<add key="vincularProgramaSubProposta" value="false" />
    	<add key="enviarPropostaProgramaSub" value="false" />
    	<add key="enviarCancelamentoPropostasProgramaSub" value="false" />
    	<add key="enviarApoliceProgramaSub" value="false" />
    	<add key="enviarCancelamentoApolicesProgramaSub" value="false" />
    
    	<add key="loginWebService" value="33054826000192"/>
    	<add key="passwordWebService" value="86318737"/>
 		
 		<add key="tempoLimitePorLoteEnvio" value="60000" />
    	<add key="numeroPropostasPorLoteEnvio" value="2" />

    	<add key="logErrorFile" value="log.txt" />
	
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
		
		<!--<customErrors mode="On" defaultRedirect="~/Error/Index">
        	<error statusCode="404" redirect="~/Error/notfound"/>
    	</customErrors>-->
	 	
		
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
