@model   List<PagedList.IPagedList>

@{
	ViewBag.Title = "AgenProcIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	
}



  <script type="text/javascript">

    function atualizarDefinicao() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("Updatedpanel","AgenProc")',
           	data: { paginaproc: '@(Model[1].PageNumber)',paginatask:'@(Model[0].PageNumber)'},
            dataType: 'html',
            cache: false,
            async: true,
            success: function (data) {
                $('#Updated').html(data);
            }
        });
    }
    $(document).ready(function () {
        setInterval(atualizarDefinicao, 10000);
        
    });

 </script>
 
 		




<div align="center" class="agenprocger">

	<br></br>
	<div id="Updated">
	
		 @{
       		 Html.RenderPartial("Updatedpanel");
    	}
	</div>
</div>

