
	.procs
	{
	
	padding-right: 150px;
	padding-left: 200px;
	
	}


	.procs div
	{
	
 	height: 40px;
 	/*
 	border-style: solid;
    border-color: #ff0000 #0000ff;
    */

	}
	
	
	#itens  /* CLimite.aspx */
	{
	
		font-weight: bold;
	
	}
	
    
	#itens p  /* CLimite.aspx */
	{
	
	 margin: 0 auto;
	 padding-right: 150px;
	 white-space: nowrap;
	 font-family: "Times New Roman", Times, serif;
	 
	 
	}
	
	.input /* CLimite.aspx */
	{
	
	padding-left: 20px;
	padding-right: 20px;
	
	
	
	}
	.lUser 
	{
	
	align: left;
	color: #191970;
	white-space: nowrap;
	
	}
	
	.retangulo
	{
	
 	 width: 290px;
  	 height: 40px;
 	 border-bottom: 2px solid #ccc;
 	 border-right: 2px solid #ccc;
 	 border-left: 2px solid #ccc;
 	 border-top: 2px solid #ccc;
 	 -moz-border-radius:10px;
	 -webkit-border-radius:10px;
 	 border-radius:10px;
 	 margin: 0;
 	 text-align: center;
 	 
 	 
 	 
	}
	
	.ano{
	
		margin-left:10px;
		margin-right:5px;
	
	}
	.retangulo #cnpj{
		
		padding-left:30px;
	
	}
	
	.rectangleListarProp
	{
	
 	 width: 70%;
  	 height: 40%;
  	 min-width:220px;
  	 padding-top: 7px;
  	 padding-bottom: 7px;
 	 border-bottom: 1px solid #191970;
 	 border-right: 1px solid #191970;
 	 border-left: 1px solid #191970;
 	 border-top: 1px solid #191970;
 	 -moz-border-radius:10px;
	 -webkit-border-radius:10px;
 	 border-radius:10px;
 	 margin: 0;
 	 text-align: center;
 	 
	}
	
	
	/* CONFIGURACOES GERAL */
	
	/* PProposta codigo sisser */
	.CdSISSER
	{
	
		color: #191970;
		font-weight: bold;
		font: 26px Cambria;
		text-shadow: 1px 1px 1px #cccccc, 1px 1px 1px #191970, 1px 1px 1px #cccccc;
		
	
	}
	
	.sub{
	
		margin-left:10px;
	}
	
	.tipodoc{
	
		color: #191970;
		font-weight: bold;
		font: 16px Cambria;
		
	}
	
	.Datainifim
	{
		
		color: #000000;
		font-weight: bold;
		font: 22px Cambria;
		text-shadow: 1px 1px 1px #cccccc, 1px 1px 1px #191970, 1px 1px 1px #cccccc;
		white-space: nowrap;
	
	}
	.spanBtnListar{
		
		
		width:100%;
		
		
	}
	
	.textDtIni{
	
	 text-align: left;
	 min-width:180px;
	
	}
	
	.textDtFin{
	
	 text-align: left;
	 min-width:180px;
	
	}
	
	.information
	{
		line-height:50px;
		padding-left: 100px;
	
	}
	
	.CdSISSERVal
	{
		color: #000000;
		font-weight: bold;
		font: 26px Cambria;
		text-shadow: 1px 1px 1px #cccccc, 1px 1px 1px #191970, 1px 1px 1px #cccccc;
	
	
	}
	
	.buttonl
	{
	
		padding-left: 120px;
		padding-right: 120px;
	 	font-size: 12px;
   	 	font-family:  Arial;
   	 	color:  #191970;
   	 	cursor: pointer;
	
	}
	
	.buttonl:hover 
	{
     box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	
	.buttont
	{
	
		
	 	font-size: 12px;
    	font-weight: bold;
   	 	font-family:  Arial;
   	 	color:  #191970;
   	 	cursor: auto;
	
	}
	
	
	
	.buttont:hover 
	{
     box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	
	
	.button 
	{
     font-size: 12px;
     font-weight: bold;
   	 font-family:  Arial;
   	 color:  #191970;
   	 cursor: pointer;
 	}
 	
	.button:hover 
	{
     box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	

	#geral

	{
		border-top: 3px solid #191970;
    	/*border: 3px solid #191970;*/
    	margin: 1px auto;
    	width: 100%;
    	
	}
	
	
	.imgIndex{
	
		width:600px; 
		height:200px;
	
	}
	
	@media only screen and (max-width: 850px){
	
		.imgIndex{
	
			width:300px; 
			height:100px;
			text-align:left;
	
		}
	
	
	}
	
	
	/* CABECALHO */

	.content{
	
		width:100%;
	
	}
	
	
	
	#cabecalho

	{

    min-height: 60px;
    padding: 15px 15px;
    background-color: #FFA07A;
    border-bottom: 3px solid #191970;
	}
	
	#cabecalho .Title
	{
	
	/*margin-left: 25%;
	padding-right: 220px;*/
    color: #191970;
	text-shadow: 2px 2px 2px #cccccc, 2px 2px 2px #191970, 2px 2px 2px #cccccc;
	text-decoration:none;
	font: 50px Cambria;
	white-space: nowrap;
	
	
	}
	
	@media only screen and (max-width: 990px) {
		#cabecalho .Title
		{
		
			font: 37px Cambria;
			/*style="min-width:750px;*/
		}
		
	}
	
	
	@media only screen and (max-width: 700px) {
		#cabecalho .Title
		{
		
			font: 40px Cambria;
			/*style="min-width:750px;*/
		}
		
		.procs
		{
	
		padding-right: 50px;
		padding-left: 20px;
	
		}
		
		
		
	}
	
	@media only screen and (max-width: 575px) {
		#cabecalho .Title
		{
		
			font: 30px Cambria;
		
		}
		#cabecalho .divTitle{
		
		text-align:left;
		}
		
		.procs
		{
	
		padding-right: 50px;
		padding-left: 20px;
		
		}
		
		
		
	}
	
	@media only screen and (max-width: 500px) {
		#cabecalho .Title
		{
		
			font: 25px Cambria;
			
		}
		#cabecalho .divTitle{
		
		text-align:left;
		}
		
		.procs
		{
	
		padding-right: 50px;
		padding-left: 20px;
	
		}
	}
	
	@media only screen and (max-width: 380px) {
		#cabecalho .Title
		{
		
			font: 25px Cambria;
			white-space: normal
			
		}
		#cabecalho .divTitle{
		
		text-align:left;
		}
		
		.imgIndex{
	
			width:200px; 
			height:80px;
			text-align:left;
	
		}
		
		
	}
	
	.textDtIniFin_label{
	
    	white-space: nowrap;
	
	}

	#cabecalho img.alignleft 
	
	{
	
	float:left;
	margin:0 1em 1em 0;
	width:190; 
	height:70;
	
	
	}
	/*start MENU*/
	
	.menucontent{
	
		width:100%;
	
	}
	
	.dropdown-content{
		display: none;
   		position: absolute;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	}
	
	.dropbtn{
		background-color: #0c2c7f;
    	color: white;
    	padding: 10px;
    	font-size: 16px;
    	border: none;
    	cursor: pointer;
	
	
	}
	
	.dropdown{
	
		display: inline-block;
	}
	
	.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
	}

	.dropdown-content a:hover {
	
		background-color: #f1f1f1
	}
		
	
	.dropdown:hover .dropdown-content{
	
		display: block;
	
	}
	
	.dropdown:hover .dropbtn {
    background-color: #483D8B;
}
	
	/*end MENU*/
	#content
	
	{
		
		margin-left: 1%;
		
	}
	
	
	.ger{
	
		margin-top: 10px;
		background-color:lavender;
		
	}	
	/* index  */
	
	
	.menuIten{
	
		border-bottom: 1px solid #ccc;	
		
	}
	

	/* CONTEUDO  */

	.conteudo
	{
		
    min-height: 500px;
    background-color:lavender;
    
	}

	/* RODAPE */

	#rodape

	{
	
		border-top: 3px solid #191970;
		border-bottom: 3px solid #191970;
    	background-color: #ccc;
    	min-height: 50px;
    	line-height: 50px;

	}
	
	#rodape footer
	{
	
		text-align: right;
		padding-right: 50px;
	
	
	}

	.divCdSISSER{
	
		margin-top:20px;
	
	}
	
	
	.gercad{
	
		margin: auto;
   		width: 70%;
		backgroundcolor:lavender;
		min-height:500px;
		min-width:280px;
	
	}
	
	.gerlist{
	
   		width:40%;
		backgroundcolor:lavender;
		min-width:280px;
	
	}
	.bproposta{
	
		margin-top: 23px; 
		width:100%;
	
	}
	.gerPro{
	
   		width:40%;
		backgroundcolor:lavender;
		min-width:280px;
	
	}
	
	.tableList{
	
		margin-top:80px;
	
	}
	
	.formger{
	
		margin:0px;
		
		margin-bottom:5px;
	
	}
	.formlabel{
		
		margin:0px;
		margin-top:5px;
		margin-left:5px;
	}
	
	.forbtn{
		
		min-width:200px;
	
	}
	
	/*start LPerfilIndex*/
	
	.tableger tr td{
	/*
		border-left: 0.2px solid #ddd;
    	border-right: 0.2px solid #ddd;*/
    	white-space: nowrap;
	
	}
	
	.tableger tr th{
	/*
		border-left: 0.2px solid #ddd;
    	border-right: 0.2px solid #ddd;*/
    	white-space: nowrap;
	
	}
	/*
	.tableger tr:nth-child(even){background-color: red}
	*/
	
	/*end LPerfilIndex*/
	
	
	
	/*start agenproc*/
	
	.agenprocger{
	
		min-height:500px;
	}
	
	/*end agenproc*/