@{
	ViewBag.Title = "Home";
}

<div align="center" id="divarrow" style="min-height:500px; padding:120px; background-color:lavender;" >
	
	
	<img alt="marca excelsior seguros" src="~/Content/imgindex.png"  width="600" height="200" border="0">
	
	
</div>
