@{
	ViewBag.Title = "Home";
}

<div align="center" class="ger" id="divarrow" style="min-height:500px;" >
	
	
	<img alt="marca excelsior seguros" src="~/Content/imgindex.png"  class="imgIndex" border="0">
	
	
</div>
