@{
	ViewBag.Title = "Descon";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div align="center" id="divarrow" class="ger">
	   <img id="desen" src="~/Content/404.jpg" width=300 height=300></img>
	   
		<H5>Pagina não encontrada <a href="@Url.Action("Index","Home")">Clique aqui</a> para voltar a pagina principal</H5>
	</div>

