@{
	ViewBag.Title = "Home";
}

<div align="center" id="divarrow" style="background-color:lavender;">
	
	<div id="flash">
	<embed src="http://www.excelsiorseguros.com.br/flash/flash.swf?texto1=Danos pessoais causados por vei­culos automotores de vias terrestres&amp;texto2=A Excelsior tem grande experiência no Seguro de RD&amp;texto3=Em nossa profissão, somos responsáveis pelos nossos atos.&amp;texto4=Defenda o seu patrimônio com os nossos seguros.&amp;texto5=Experiência no Seguro de Responsabilidade Civil Geral. &amp;texto6=No ar ou na terra, o seu patrimônio estará¡ &#10;garantido&amp;texto7=Seguro Habitacional e Seguro Imobiliário&amp;texto8=Vida Em Grupo e Acidentes Pessoais&#10;&amp;texto9=&amp;texto10=&amp;t1=DPVAT&amp;t2=Riscos Diversos &amp;t3=Responsabilidade Civil Profissional&amp;t4=Multirriscos&amp;t5=Resp. Civil Geral&amp;t6=Aeronáutico&amp;t7=Habitacionais&amp;t8=Vida &amp;t9=&amp;t10=&amp;foto1=http://www.excelsiorseguros.com.br/arqBanner/1-dpvat.jpg&amp;foto2=http://www.excelsiorseguros.com.br/arqProduto/1-riscosDiversos.jpg&amp;foto3=http://www.excelsiorseguros.com.br/arqProduto/responsabilidadeCivil.jpg&amp;foto4=http://www.excelsiorseguros.com.br/arqProduto/1-multiriscos.jpg&amp;foto5=http://www.excelsiorseguros.com.br/arqProduto/1-responsabilidadeCivil.jpg&amp;foto6=http://www.excelsiorseguros.com.br/arqProduto/1-aeronautico.jpg&amp;foto7=http://www.excelsiorseguros.com.br/arqProduto/1-habitacional.jpg&amp;foto8=http://www.excelsiorseguros.com.br/arqProduto/1-vida.jpg&amp;foto9=&amp;foto10=&amp;link1=http://www.excelsiorseguros.com.br/dpvat&amp;link2=http://www.excelsiorseguros.com.br/produto/riscos-diversos/9&amp;link3=http://www.excelsiorseguros.com.br/produto/responsabilidade-civil-profissional/7&amp;link4=http://www.excelsiorseguros.com.br/produto/multirriscos/5&amp;link5=http://www.excelsiorseguros.com.br/produto/resp--civil-geral/6&amp;link6=http://www.excelsiorseguros.com.br/produto/aeronautico/1&amp;link7=http://www.excelsiorseguros.com.br/produto/habitacionais/4&amp;link8=http://www.excelsiorseguros.com.br/produto/vida/10&amp;link9=&amp;link10=" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="910" height="180">
	</div>
	
</div>
